<form [formGroup]="formUser" class="container">
    <div class="avatar">
        <img [src]="this.formUser.value?.avatar" alt="" />
    </div>
    <div class="edit-field">
        <label for="name">Tên người dùng</label>
        <input type="text" formControlName="name" id="name" />
    </div>
    <div class="edit-field">
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email" />
    </div>
    <div class="edit-field">
        <label for="userName">Nickname</label>
        <input type="text" formControlName="userName" id="userName" />
    </div>
    <div class="edit-field">
        <label for="role">Vai trò</label>
        <select formControlName="role_id">
            <option [value]="3">Quản trị viên</option>
            <option [value]="2">Biên tập viên</option>
            <option [value]="1">Tổng biên tập</option>
            <option [value]="4">Kiểm duyệt viên</option>
        </select>
    </div>

    <div class="container-btn">
        <div class="update">
            <button
                class=""
                [ngClass]="{
                    'btn-create': isChangeEdit,
                    'btn-disable': !isChangeEdit
                }"
                [disabled]="!isChangeEdit"
            >
                Cập nhật
            </button>
            <button class="btn-cancel" mat-dialog-close>Hủy</button>
        </div>

        <button class="btn-cancel">
            <span>Reset mật khẩu</span>
        </button>
    </div>
</form>
