<h3>Thêm bài viết vào danh sách</h3>
<div class="container" cdkDropListGroup [cdkDropListGroupDisabled]="!isUpadate">
  <div class="manage-container">
    <div class="filter-bottom">
      <div class="container-action">
        <form class="action" [formGroup]="formOption">
          <select formControlName="categories_id" (change)="getHotNews()">
            <option selected="selected" value="1">Trang chủ</option>
            <option [value]="item.slug_crc" *ngFor="let item of categories">
              {{ item.name }}
            </option>
          </select>
        </form>
      </div>
      <div class="container-btn" *ngIf="isUpadate">
        <button class="btn-cancel" (click)="isUpadate = false">
          <span>Hủy bỏ</span>
        </button>
        <button class="btn-create" (click)="updatePosition()">
          <span>Lưu thay đổi</span>
        </button>
      </div>
      <button class="btn-create" (click)="isUpadate = true" *ngIf="!isUpadate">
        <span>Thay đổi</span>
      </button>
    </div>
    <ng-container *ngIf="formOption.value.categories_id !== '1'"
      ><div class="container-layout">
        <div class="layout-left">
          <div class="bg-layout">
            <div
              class="layout-left-top"
              cdkDropList
              id="1"
              [cdkDropListData]="hotArticles.top.data"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="check"
            >
              <ng-container *ngFor="let item of hotArticles.top.data">
                <div
                  class="hot-article"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="start($event, 1)"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-drag"></td>

                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>
                  <div *cdkDragPlaceholder clas></div>
                  <div class="image-article">
                    <img
                      [src]="
                        environment.API_GET_AVATAR +
                        item.new_article.avatar +
                        '&height=200&width=300'
                      "
                      (error)="handleImageError($event)"
                      alt=""
                    />
                  </div>
                  <div class="info-article">
                    <p class="infor-article-title">
                      {{ item.new_article.title }}
                    </p>
                    <p class="infor-article-sapo">
                      {{ item.new_article.sapo }}
                    </p>
                  </div>
                </div>
              </ng-container>
              <div
                class="hot-article add-item"
                *ngIf="hotArticles.top.data.length < hotArticles.top.length"
                (click)="showDialog(hotArticles.top.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>

          <div class="bg-layout">
            <div
              class="layout-left-bottom"
              cdkDropList
              id="2"
              [cdkDropListData]="hotArticles.bottom.data"
              (cdkDropListDropped)="drop($event)"
              cdkDropListOrientation="horizontal"
              [cdkDropListEnterPredicate]="check2"
            >
              <ng-container *ngFor="let item of hotArticles.bottom.data">
                <div
                  class="info-article"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="start($event, 2)"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-drag"></td>

                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>
                  <div *cdkDragPlaceholder class=""></div>
                  <h4 class="infor-article-title">
                    {{ item.new_article.title }}
                  </h4>
                  <p class="infor-article-sapo">
                    {{ item.new_article.sapo }}
                  </p>
                </div>
              </ng-container>
              <div
                class="info-article add-item"
                *ngIf="
                  hotArticles.bottom.data.length < hotArticles.bottom.length
                "
                (click)="showDialog(hotArticles.bottom.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-right">
          <div class="bg-layout">
            <div
              class="layout-list"
              cdkDropList
              id="3"
              [cdkDropListData]="hotArticles.right.data"
              (cdkDropListDropped)="drop($event)"
            >
              <ng-container
                *ngFor="let item of hotArticles.right.data; last as last"
              >
                <div
                  class="box"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="start($event, 3)"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-drag"></td>

                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>
                  <div *cdkDragPlaceholder clas></div>
                  <div class="hot-article-item">
                    <p class="hot-article-title">
                      {{ item.new_article.title }}
                    </p>
                    <div class="image-article">
                      <img
                        [src]="
                          environment.API_GET_AVATAR +
                          item.new_article.avatar +
                          '&height=80&width=120'
                        "
                        alt=""
                        (error)="handleImageError($event)"
                      />
                    </div>
                  </div>
                  <hr *ngIf="!last" />
                </div>
              </ng-container>
              <hr />
              <div
                class="hot-article-item add-item"
                *ngIf="hotArticles.right.data.length < hotArticles.right.length"
                (click)="showDialog(hotArticles.right.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="formOption.value.categories_id === '1'">
      <div class="container-layout">
        <div class="layout-left-home">
          <div class="bg-layout">
            <div
              class="layout-left-home-list"
              cdkDropList
              id="4"
              [cdkDropListData]="hotArticlesHome.left.data"
              (cdkDropListDropped)="drop($event)"
              (cdkDropListEntered)="test = 0"
            >
              <ng-container
                *ngFor="
                  let item of this.hotArticlesHome.left?.data;
                  last as last
                "
              >
                <div
                  class="artcle-left-item shake"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="test = 0"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>

                  <div
                    *cdkDragPlaceholder
                    [ngClass]="{
                      'left-plh': test === 0,
                      'center-plh': test === 1,
                      'right-plh': test === 2
                    }"
                  ></div>
                  <fa-icon
                    [icon]="faCircleMinus"
                    *ngIf="isUpadate"
                    class="icon-minus"
                    (click)="
                      deletePosition(hotArticlesHome.left?.data, item.position)
                    "
                  ></fa-icon>
                  <div class="image">
                    <img
                      [src]="
                        'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                        item?.new_article?.avatar +
                        '&width=120&height=110'
                      "
                      alt=""
                      (error)="handleImageError($event)"
                    />
                  </div>

                  <div class="artcle-left-item-infor">
                    <h4>{{ item.new_article?.title }}</h4>
                  </div>
                </div>
              </ng-container>
              <div
                class="artcle-left-item add-item"
                *ngIf="
                  hotArticlesHome.left.data.length < hotArticlesHome.left.length
                "
                (click)="showDialog(hotArticlesHome.left.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-center-home">
          <div class="bg-layout">
            <div
              class="layout-center-home-list"
              cdkDropList
              id="5"
              [cdkDropListData]="hotArticlesHome.center.data"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="check"
              (cdkDragStarted)="test = 1"
              (cdkDropListEntered)="test = 1"
            >
              <ng-container
                *ngFor="let item of this.hotArticlesHome.center?.data"
              >
                <div
                  class="artcle-center-item shake"
                  [ngClass]="{ shake: isUpadate }"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="test = 1"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>

                  <div
                    *cdkDragPlaceholder
                    [ngClass]="{
                      'left-plh': test === 0,
                      'center-plh': test === 1,
                      'right-plh': test === 2
                    }"
                  ></div>
                  <fa-icon
                    [icon]="faCircleMinus"
                    *ngIf="isUpadate"
                    class="icon-minus"
                    (click)="
                      deletePosition(
                        hotArticlesHome.center?.data,
                        item.position
                      )
                    "
                  ></fa-icon>
                  <img
                    [src]="
                      'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                      item?.new_article?.avatar +
                      '&height=330&width=500'
                    "
                    alt=""
                    (error)="handleImageError($event)"
                  />
                  <h2>
                    {{ item?.new_article?.title }}
                  </h2>
                  <p>
                    {{ item?.new_article?.sapo }}
                  </p>
                </div>
              </ng-container>
              <div
                class="artcle-center-item add-item"
                *ngIf="
                  hotArticlesHome.center.data.length <
                  hotArticlesHome.center.length
                "
                (click)="showDialog(hotArticlesHome.center.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-right-home">
          <div class="bg-layout">
            <div
              class="layout-right-home-list"
              cdkDropList
              id="6"
              [cdkDropListData]="hotArticlesHome.right.data"
              (cdkDropListDropped)="drop($event)"
              (cdkDropListEntered)="test = 2"
              (cdkDragStarted)="test = 2"
            >
              <ng-container
                *ngFor="let item of this.hotArticlesHome.right?.data"
              >
                <div
                  class="artcle-right-item shake"
                  [ngClass]="{ shake: isUpadate }"
                  cdkDrag
                  (cdkDragEntered)="enter($event)"
                  (cdkDragStarted)="test = 2"
                  (cdkDragExited)="isShowCreate.right = true"
                >
                  <div *cdkDragPreview class="preivew">
                    <td class="item-name">
                      <div class="title-status">
                        <p>
                          {{ item?.new_article?.title }}
                        </p>
                      </div>

                      <div class="">
                        <small class="">Chuyên mục : Xuât bản</small>
                      </div>
                    </td>
                  </div>

                  <div
                    *cdkDragPlaceholder
                    [ngClass]="{
                      'left-plh': test === 0,
                      'center-plh': test === 1,
                      'right-plh': test === 2
                    }"
                  ></div>
                  <fa-icon
                    [icon]="faCircleMinus"
                    *ngIf="isUpadate"
                    class="icon-minus"
                    (click)="
                      deletePosition(hotArticlesHome.right?.data, item.position)
                    "
                  ></fa-icon>
                  <img
                    [src]="
                      'http://localhost:4000/api/v1/articles/avatar?slug_crc=' +
                      item?.new_article?.avatar +
                      '&height=200&width=300'
                    "
                    alt=""
                    (error)="handleImageError($event)"
                  />
                  <h4>{{ item.new_article.title }}</h4>
                </div>
              </ng-container>
              <div
                class="artcle-right-item add-item"
                *ngIf="
                  hotArticlesHome.right.data.length <
                    hotArticlesHome.right.length && isShowCreate.right
                "
                (click)="showDialog(hotArticlesHome.right.data)"
              >
                <fa-icon [icon]="faCirclePlus" class="icon-add"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #left>
  <div class="left_home"></div>
</ng-template>
<ng-template #center>
  <div class="center-home">center</div>
</ng-template>
<ng-template #right>
  <div class="right-home"></div>
</ng-template>
